{% extends "base.html" %}
{% block content %}

<style>
  h1 {
    text-align: center
  }
</style>

<h1> <b>S</b>mart <b>O</b>rgan <b>D</b>onation <b>A</b>pp (SODA) </h1>

<h2> What is SODA? </h2>
	<p> SODA is a Smart Organ Donation web app that supports the infrastructure for an organ donation network in local hospitals that can be implemented in rural situations.</p>

<div>
<h2> Why SODA? </h2>
<p> One organ donor can save up to eight lives. One eye and tissue donor can save or improve the lives of up to 50 people. This means an organ, eye and tissue donor can potentially impact the lives of 58 people! Successful transplantation often is enhanced by the matching of organs between members of the same ethnic and racial group. </p>

  <p> Unfortunately, in many countries, there is no such infrastructure available that organizes organ donations and manages the information of patients efficiently, resulting in the loss of many lives. SODA hopes to bridges the gap between organ donors and receivers by providing an online platform which performs organ matching for heart, lung and liver, through utilizing Alexa.</p>
</div>

<div>
<h2> How does SODA work? </h2>
  <p> SODA 
</p>
</div>

{% endblock %}
