{% extends "loggedBase.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('registerPatient') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" placeholder="Patient Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}
