{% extends "loggedBase.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('registerPatient') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" placeholder="Patient Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientAge</label>
                    <input type="number" class="form-control" name="patientAge" placeholder="Patient Age">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientHeight</label>
                    <input type="number" class="form-control" name="patientAge" placeholder="Patient Age">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientWeight</label>
                    <input type="number" class="form-control" name="patientWeight" placeholder="Patient Weight">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientBirthdate</label>
                    <input type="date" class="form-control" name="patientBirthdate" placeholder="Patient Birthdate">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientBloodgroup</label>
                    <input type="text" class="form-control" name="patientBloodgroup" placeholder="Patient Bloodgroup">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientGender</label>
                    <input type="text" class="form-control" name="patientGender" placeholder="Patient Gender">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientSSN</label>
                    <input type="number" class="form-control" name="patientSSN" placeholder="Patient Social Security Number">

                </div>

                <div class="form-group">
                <input type="checkbox" name="Polyuria" value="Yes">
                <input type="checkbox" name="Polyuria" value="No">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">patientId</label>
                    <input type="number" class="form-control" name="patientId" placeholder="Patient ID">
                </div>


                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}
