{% extends "loggedBase.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('registerPatient') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Name</label>
                    <input type="text" class="form-control" name="patientName" placeholder="Patient Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Age</label>
                    <input type="number" class="form-control" name="patientAge" placeholder="Patient Age">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Height</label>
                    <input type="number" class="form-control" name="patientAge" placeholder="Patient Age">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Weight</label>
                    <input type="number" class="form-control" name="patientWeight" placeholder="Patient Weight">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Birthdate</label>
                    <input type="date" class="form-control" name="patientBirthdate" placeholder="Patient Birthdate">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Bloodgroup</label>
                    <input type="text" class="form-control" name="patientBloodgroup" placeholder="Patient Bloodgroup">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient Gender</label>
                    <input type="text" class="form-control" name="patientGender" placeholder="Patient Gender">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Patient SSN</label>
                    <input type="number" class="form-control" name="patientSSN" placeholder="Patient Social Security Number">

                <div class="form-group">
                    <label for="exampleInputEmail1">Medical Urgency Rating (1-5, where 5 is life-threatening urgent)</label>
                    <input type="number" class="form-control" name="medicalUrgency" placeholder="Patient Social Security Number">

                </div>
                <fieldset>
  <legend>Polyuria?</legend>
  <div>
    <input type="checkbox" id="yes" name="Polyuria" value="yes">
    <label for="Yes">Yes</label>
  </div>
  <div>
    <input type="checkbox" id="no" name="Polyuria" value="no">
    <label for="No">No</label>
  </div>
</fieldset>

<fieldset>
<legend>Polyuria?</legend>
<div>
<input type="checkbox" id="yes" name="Polyuria" value="yes">
<label for="Yes">Yes</label>
</div>
<div>
<input type="checkbox" id="no" name="Polyuria" value="no">
<label for="No">No</label>
</div>
</fieldset>

<fieldset>
<legend>Seizures?</legend>
<div>
<input type="checkbox" id="yes" name="seizures" value="yes">
<label for="Yes">Yes</label>
</div>
<div>
<input type="checkbox" id="no" name="seizures" value="no">
<label for="No">No</label>
</div>
</fieldset>

<fieldset>
<legend>Palpitations?</legend>
<div>
<input type="checkbox" id="yes" name="palpitations" value="yes">
<label for="Yes">Yes</label>
</div>
<div>
<input type="checkbox" id="no" name="palpitations" value="no">
<label for="No">No</label>
</div>
</fieldset>

<fieldset>
<legend>Insomnia?</legend>
<div>
<input type="checkbox" id="yes" name="insomnia" value="yes">
<label for="Yes">Yes</label>
</div>
<div>
<input type="checkbox" id="no" name="insomnia" value="no">
<label for="No">No</label>
</div>
</fieldset>

<fieldset>
<legend>Blurred Vision?</legend>
<div>
<input type="checkbox" id="yes" name="blurredVision" value="yes">
<label for="Yes">Yes</label>
</div>
<div>
<input type="checkbox" id="no" name="blurredVision" value="no">
<label for="No">No</label>
</div>
</fieldset>

<fieldset>
<legend>HIV/Hepatitis?</legend>
<div>
<input type="checkbox" id="yes" name="HIVHepa" value="yes">
<label for="Yes">Yes</label>
</div>
<div>
<input type="checkbox" id="no" name="HIVHepa" value="no">
<label for="No">No</label>
</div>
</fieldset>


<div>
<label for="exampleInputEmail1">Medical Review of Patient's Biological Systems</label>
</div>

<div class="form-group">
    <label for="exampleInputEmail1">P\Eyes</label>
    <input type="text" class="form-control" name="patientEyes" placeholder="Eyes Review">
</div>


<div class="form-group">
    <label for="exampleInputEmail1">Ear/Nose/Throat</label>
    <input type="text" class="form-control" name="patientENT" placeholder="ENT Review">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Cardiovascular</label>
    <input type="text" class="form-control" name="patientCardiovascular" placeholder="Cardiovascular Review">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Gastrointestinal</label>
    <input type="text" class="form-control" name="patientGastrointestinal" placeholder="Gastrointestinal Review">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Musculoskeletal</label>
    <input type="text" class="form-control" name="patientMusculoskeletal" placeholder="Musculoskeletal Review">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Skin</label>
    <input type="text" class="form-control" name="patientGastrointestinal" placeholder="Skin Review">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Allergic/Immunologic</label>
    <input type="text" class="form-control" name="patientAllergic" placeholder="Allergic/Immunologic Review">
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Heme/Lymphatic</label>
    <input type="text" class="form-control" name="patientLymphatic" placeholder="Heme/Lymphatic Review">
</div>




<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="pass" placeholder="Password">
</div>


  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
    </div>




                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}
